body {
    background-color: #00AF98;
    color: #fff;
    font-family: 'Cambo', serif;
}

#introduction {
    /*Skuemorphic looks*/
    /*background-image: url(https://dl.dropboxusercontent.com/u/22512408/paper.png);*/
    /*box-shadow: inset 0px 0px 2px rgba(0,0,0,.9);*/

    background-color: #020202;

    width: 100%;
    /*min-height: 100%; */
    padding: 60px;
    height: 98vh;
}

#introduction .logo {
    display: block;
    margin: auto;

    width: 150px;
    height: 150px;
    border-radius: 75px;
    
    border: 5px solid #fff;
    background-image: url(/icon.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

#introduction h1 {
    font-size: 400%;
    text-align: center;
    margin: 20px;
}

#menu {
    padding: 10px;
    width: 100%;
    text-align: center;
}

#menu a {
    font-size: 200%;
    color: #020202;
    text-decoration: none;
    font-weight: 800;
}