body {
    background-color: #5F6660;
    font-family: 'Cambo', serif;
}

#introduction {
    background-color: #CCD7D2;
    color: #5F6660;

    width: 100%;
    padding: 20px;
    /*height: 98vh;*/
}

.centered-header {
    margin: auto;
    width: 575px;
}

.avatar {
    float: left;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    border: 4px solid #5F6660;

    background-image: url(/img/avatar.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    margin: 14px auto;
}

.welcome-text {
    float: left;
    font-size: 2.2em;
    line-height: 1.2em;
    padding-top: .7em;
    padding-left: .3em;
    width: 13em;
}

/* iPhone View */
@media (max-width: 574px) {
    .centered-header {
        width: auto;
    }

    .avatar, .welcome-text {
        float: none;
    }

    .avatar {
        width: 220px;
        height: 220px;
        border-radius: 110px;
        border-size: 9px;
    }

    .welcome-text {
        width: auto;
    }
}
