// <Boilerplate>
@import 'nib'

global-reset()

// Adapted from http://www.paulirish.com/2012/box-sizing-border-box-ftw/
*, *:before, *:after
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

// Adapted from http://css-tricks.com/full-browser-width-bars/
wide-bars(element, color)
    {element}
        position relative
    {element}:before
    {element}:after
      content ""
      position absolute
      background color
      top 0
      bottom 0
      width 9999px
    {element}:before
        right 100%
    {element}:after
        left 100%
    html, body
        overflow-x hidden
// </Boilerplate>

p-text-color = #454545
p-light-text-color = #999

accent-orange = #F58156
accent-blue = #2D82CC
accent-pink = #E359A6
accent-green = #3AB050
accent-yellow = #EFC554

header-color = #eee

profile-img-small = 100px
profile-img-large = 1 * profile-img-small

@font-face
    font-family 'Cambo'
    font-style normal
    font-weight 400
    src local('Cambo'), local('Cambo-Regular'), url(http://themes.googleusercontent.com/static/fonts/cambo/v3/svHugj7NIrTQRq-kuQ9YEKCWcynf_cDxXwCLxiixG1c.woff) format('woff')

body
    background-color white
    font-family 'Cambo', serif
    color p-text-color
    font-size 10px

h1
    font-size 2em
    line-height 1.3em

h2
    font-size 1.8em
    color p-light-text-color

#screen
    position fixed
    bottom 0
    left 0
    z-index -1
    image-rendering: optimizeSpeed;             // Older versions of FF
    image-rendering: -moz-crisp-edges;          // FF 6.0+
    image-rendering: -webkit-optimize-contrast; // Webkit
    image-rendering: -o-crisp-edges;            // OS X & Windows Opera (12.02+)
    image-rendering: optimize-contrast;         // Possible future browsers.
    -ms-interpolation-mode: nearest-neighbor;   // IE

header
    position relative
    top 2em
    width 90%
    margin 0 auto
    padding 0.5em 
    background-color header-color
    box-shadow 0.5em 0.5em black

    img
        display block
        width 7em
        border-radius 50%
        border 0.25em solid white
        margin 4px auto
        float left

    h1, h2
        padding-left 80px 

    h1
        padding-top 0.5em

    h2
        clearfix()

#name
    color accent-orange
.interest
    color accent-pink

/* Larger screens */
@media screen and (min-width: 620px)
    header
        font-size 22px
        width 620px

        img
            width profile-img-small
            float left

        h1, h2
            padding-left profile-img-small + 20px

        h1
            line-height 1em
            padding-top 14px

        h2
            font-size 1.4em
