/*
  
  These styles are the default flexbox that Facebook uses for [css-layout](https://github.com/facebook/css-layout).

*/
.flexbox {
  box-sizing: border-box;
  position: relative;
  display: flex;
  display: -webkit-flex;
}